<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro Grupo</title>
</head>
<body>
	<nav>
		<div>
			<div>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/fabricante/fabricanteIndex}">Fabricante</a></li>
					<li><a th:href="@{/grupo/grupoIndex}">Grupo</a></li>
					<li><a th:href="@{/subgrupo/subGrupoIndex}">SubGrupo</a></li>
					<li><a th:href="@{/produto/produtoIndex}">Produto</a></li>
					<li><a th:href="@{/vendas/vendasIndex}">Vendas</a></li>
					<li><a th:href="@{/admin/adminIndex}">Admin</a></li>
					<li>
						<form th:action="@{/}" method="POST">
							<button type="submit">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<h3>Cadastro de Grupo</h3>
		
		<a th:href="@{/grupo/grupoIndex}">Voltar</a>
		
		<form th:action="@{/grupo/save-grupo}" th:object="${grupo}" method="post">

			<!-- Nome -->
			<div>
				<label for="nomeGrupo">Nome Grupo</label> 
				<input type="text"
					   id="nomeGrupo" 
					   name="nomeGrupo"
					   th:field="*{nomeGrupo}" 
					   placeholder="Digite o Nome Grupo">
			</div>

			<!-- Botão de envio -->
			<button type="submit" class="btn btn-primary">Salvar</button>

		</form>
	</div>
</body>
</html>
